@font-face {
    font-family: pokemon;
    src: url("Pokemon\ Hollow.ttf");

}

body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    color: white;
    background-size:cover;
    text-align: center;
    color: #8ecae6;
}

div {
    background-image: url("https://64.media.tumblr.com/adc179969db2fc3ecc3d7ce31cb72f98/b75ceff19039a954-df/s500x750/a98958a851c94a08f71159ea8cdceeebcf4cb118.gif");
    background-size: cover;
    padding: 20px 0;
}

#spacex-logo {
    color: white;
    height: 60px;

}

.btn {
    padding: 8px 12px;
    background-color: white;
    border: none;
    font-family: inherit;
    color: #219ebc;
}

.underline {
    border-bottom: 4px solid white;
}

h1 {
    text-shadow: 0 0 3px white;
}